#port_entry_area {
  margin-top: 40px;
  width: 59%;
  height: 10%;
}

#port_entry_box {
  height: 100%;
  width: 30%;
  float: left;
}

#add_port_btn {
  height: 50%;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-left: 50px;
  margin-top: 16px;
}

#added_ports {
  rows: "5";
  columns: "5";
  overflow-y: scroll;
  border-style: solid;
  width: 25%;
  height: 100%;
  float: right;
}
